.grid {
  display: grid;
  grid-template-columns:  repeat(2, 1fr);
  gap: 15px;
  padding-bottom: 16px;
  flex-wrap: wrap;
}

.link {
  color: #6bdf72;
  text-align: center;
  grid-column: 1 / -1;
}

.main-content {
  display: flex;
  flex-direction: column;
}