.avatar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.avatar li {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  padding-right: 10px;
  color: #BCBCBC;
  font-size: 15px;
  font-weight: 600;
  line-height: 150%;
}
